@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes nav-anim {
  0% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes about-anim {
  0% {
    transform: translateY(-150%);
  }
  100% {
    transform: translateY(15%);
  }
}

@keyframes techstack-anim {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes techstack-load {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes rocket {
  0% {
    transform: translateX(0%);
    transfrom: translateY(0%);
  }
  100% {
    transform: translateX(100%);
    transform: translateY(100%;);
  }
}

.rocket-takeoff {
  animation: rocket 1s ease-in-out 0s 1 forwards;
}

.message::-webkit-scrollbar {
  display: none; /* Will hide scroll bar but keep the functionality */
}

.text-xxs {
  font-size: 0.625rem; /* 10px */
  line-height: 0.75rem; /* 12px */
}

* {
  font-family: "Roboto", "monospace", "sans-serif";
}

html,
body {
  min-height: 100svh;
  color: #e3f4ea;
  background-color: #040f08;
}

.primary {
  background-color: #7ee9ab;
}

.hr-primary {
  border-color: #7ee9ab;
}

.secondary {
  background-color: #0d9446;
}

.accent {
  box-shadow: 0px 0px 15px #15fb76;
  transition: all 150ms ease-in-out;
}

.text-accent {
  color: #15fb76;
}

.github,
.linkedin,
.pfp,
.proj-link,
nav h4 {
  transition: all 150ms ease-in-out;
}

.proj-link:hover {
  color: #15fb76;
}

.github:hover,
.linkedin:hover,
nav h4:hover {
  color: #7ee9ab;
}

.pfp:hover {
  box-shadow: 0px 5px 20px #7ee9ab;
  transform: scale(1.05);
}

/*
body {
  overflow-x: hidden;
  background: url("./bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
} */

.text-shadow-small-white {
  text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.6);
}

.text-shadow {
  text-shadow: 0px 0px 5px black;
}

.text-shadow-small {
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
}

.image-shadow {
  text-shadow: 0px 0px 5px white;
}

.navigation-bar {
  transform: translateX(150%);
  animation: nav-anim 1.5s ease-in-out 0s 1 forwards;
  z-index: 2;
}

.about-wrapper {
  transform: translateY(-150%);
  animation: about-anim 1.5s ease-in-out 0s 1 forwards;
  z-index: 1;
}

.techstack {
  background-size: 180% 180%;
  animation: techstack-anim 4s ease infinite;
}

.tech-wrapper {
  animation: techstack-load 1.5s ease-in-out 0s 1 forwards;
  transform: translateX(-150%);
}

li {
  cursor: pointer;
}

h4:hover {
  color: #9244ab;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #15fb76;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

footer a:hover {
  color: #9244ab;
}
